a:link{
    text-decoration: none!important;
    cursor: pointer;
  }


body {
    font-family: var(--font);
    font-weight: normal;
    font-style: normal;
    color: var(--body-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: -webkit-fill-available;
  }

body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: -webkit-fill-available;
}

main{
  flex: 1;
  overflow: scroll;
}

html{
  height: -webkit-fill-available;

}

.logo {
    max-width: 20%;
    height: auto;
    border-radius: 50%;
    padding-right: 5px;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 25s linear infinite;
}


.glow::after{
    filter: blur(40px);
}


.navbtn{
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    background: none;
    border: none;
    border-radius: 4px;
}

.metamask {
    color: #1E90FF;
    font-size: 15px;
    padding: 5px 7px;
    background-color: white;
}


.box{
    position: relative;
    margin: 10% auto 0;
    width: 80%;
    background: linear-gradient(0deg, #121112, rgb(44, 43, 43));
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.about::before, .about::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}


.about::after{
    filter: blur(40px);
}

h2{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

p.para2{
  font-family: monospace;
    font-size: 18px;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 15px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 100px;;
}

section.Teams{
    position: relative;
}

.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5%;
}

.container .card:hover .content{
    opacity: 1;
}

.container .card .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    object-fit: cover;
}

.container .card .content .contentBx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBx h3 span{
    font-size: 15px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .content .contentBx h3 span.Langs{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
    padding: 20px;
}

.container .card .content .contentBx{
    position: relative;
    margin: 10% auto 0;
    width: 280px;
    height: 100px;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(10px);
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.BG::before, .BG::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg , #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}


.BG::after{
    filter: blur(40px);
}

.btnone{
    font-family: "Roboto", sans-serif;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    background: white;
    width: 290px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #1E90FF;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    margin-top: 50px;
}

.btnone:link{
    text-decoration: none!important;
    cursor: pointer;
}

.btnone:hover, .btnone:focus, .btnone:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ud-widget-links a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 30px;
    color: #f3f4fe;
  }
  
.ud-widget-links a:hover {
    color: #1E90FF;
    padding-left: 10px;
  }

.ud-widget-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 35px;
    color: white;
    margin-left: 150px;
  }

.communitybtn{
    font-family: "Roboto", sans-serif;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    background: white;
    width: 290px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #1E90FF;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.communitybtn:hover, .communitybtn:focus, .communitybtn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ud-widget-title1 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 35px;
    color: white;
    margin-left: 99px;
  }

/* ===== Webminer CSS ===== */
.ud-pricing {
    padding-top: 120px;
    padding-bottom: 90px;
  }
  
  @media (max-width: 767px) {
    .ud-pricing {
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }
  
  .ud-single-pricing {
    margin-bottom: 40px;
    background: var(--white);
    border: 2px solid #d4deff;
    border-radius: 8px;
    text-align: center;
    padding: 45px 30px;
    position: relative;
  }
  
  .ud-single-pricing.active {
    background: -webkit-gradient(linear, left top, left bottom, from(#3056d3), to(#179bee));
    background: linear-gradient(180deg, #3056d3 0%, #179bee 100%);
    border: none;
    padding: 55px 30px;
  }
  
  .ud-single-pricing.active .ud-pricing-header h3,
  .ud-single-pricing.active .ud-pricing-header h4 {
    color: var(--white);
  }
  
  .ud-single-pricing.active .ud-pricing-body li {
    color: var(--white);
  }
  
  .ud-single-pricing.first-item::after, .ud-single-pricing.last-item::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    z-index: 1;
  }
  
  .ud-single-pricing.first-item::after {
    background: var(--primary-color);
    left: -2px;
    bottom: -2px;
    border-radius: 0px 55px 0px 8px;
  }
  
  .ud-single-pricing.last-item::after {
    background: #13c296;
    top: -2px;
    right: -2px;
    border-radius: 0px 8px 0px 55px;
  }
  
  .ud-single-pricing .ud-popular-tag {
    display: inline-block;
    padding: 10px 25px;
    background: var(--white);
    border-radius: 30px;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .ud-single-pricing .ud-pricing-header h3 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 8px;
  }
  
  .ud-single-pricing .ud-pricing-header h4 {
    font-weight: 600;
    font-size: 26px;
    color: var(--primary-color);
    margin-bottom: 40px;
  }
  
  .ud-single-pricing .ud-pricing-body {
    margin-bottom: 40px;
  }
  
  .ud-single-pricing .ud-pricing-body li {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 18px;
  }
  
  .ud-single-pricing .ud-main-btn {
    border-radius: 30px;
    padding: 15px 40px;
  }
  
  .ud-single-pricing .ud-border-btn {
    border: 1px solid #d4deff;
    color: var(--primary-color);
    background: var(--white);
  }
  
  .ud-single-pricing .ud-border-btn:hover {
    color: var(--white);
    border-color: var(--primary-color);
    background: var(--primary-color);
  }
  
  .ud-single-pricing .ud-white-btn {
    background: var(--white);
    color: var(--heading-color);
  }
  
  .ud-single-pricing .ud-white-btn:hover {
    color: var(--white);
    background: var(--heading-color);
  }

  .btn{
    font-family: "Roboto", sans-serif;
    align-items: right;
    font-size: 15px;
    font-weight: bold;
    background: white;
    width: 190px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1E90FF;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.heroimg{
  margin-bottom: 20px;
  text-align: center;
}

.teamcontainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.teamcontainer .teambox{
  position: relative;
  width: 320px;
  height: 400px;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5%;
}

.teamcontainer .teambox:hover{
  transform: translateY(-20px);
}

.teamcontainer .teambox::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);

}

.teamcontainer .teambox::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);

}

.teamcontainer .teambox:nth-child(2)::before,
.teamcontainer .teambox:nth-child(2)::after{
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.teamcontainer .teambox:nth-child(3)::before,
.teamcontainer .teambox:nth-child(3)::after{
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.teamcontainer .teambox:nth-child(5)::before,
.teamcontainer .teambox:nth-child(5)::after{
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.teamcontainer .teambox:nth-child(6)::before,
.teamcontainer .teambox:nth-child(6)::after{
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.teamcontainer .teambox:nth-child(8)::before,
.teamcontainer .teambox:nth-child(8)::after{
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.teamcontainer .teambox:nth-child(9)::before,
.teamcontainer .teambox:nth-child(9)::after{
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.teamcontainer .teambox:nth-child(11)::before,
.teamcontainer .teambox:nth-child(11)::after{
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.teamcontainer .teambox:nth-child(12)::before,
.teamcontainer .teambox:nth-child(12)::after{
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.teamcontainer .teambox span{
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  background: rgba(0,0,0,0.6);
  z-index: 2;
}

.teamcontainer .teambox span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.teamcontainer .teambox .teamcontent{
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.teamcontainer .teambox .teamcontent h2{
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.teamcontainer .teambox .teamcontent p{
  text-align: center;
}

.teamcontainer .teambox .teamcontent a{
  display: inline-block;
  font-size: 1.1em;
  color: #1E90FF;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
}

.teamcontainer .teambox .teamcontent .imgBx img{
  position: absolute;
  align-items: center;
  position: relative;
  margin-left: 60px;
  top: -10px;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
